#div
{

    margin: 0 auto;
}

#main-bio
{
    float: left;
    margin-left: 5%;
    width: 60%;
    clear: both;
    background-color: #ffffff;
    margin-top: 40px;

}

#contact-info
{
    float: left;
    width: 25%;
    line-height: 1.5;
    margin-top: 40px;

}

#bio-image
{
    float: left;
    width:200px;
    margin: 20px;
}

body
{
    background-color:#efeee7;
    color:#333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header
{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    width: 23.5%;
}

#header2
{
    background-color: #ffffff;
    float: right;
    width: 76.5%;
    height: 110px;
}

h1
{
    color: #eee;
    font-size: 28px;
    padding: 20px;
    text-align: center;
}

h2
{
    font: size 24px;
    margin-left: 20px;
    color: #4aaaa5;
}
                
p 
{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

#divider
{
    background-color: #cccccc;
    height: 3px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
}

.container
{
    background-color: blue;
}

@media (max-width: 1024px) {

    #contact-info {
        clear: both;
        width: 30%;
        margin-left: 40px;
    }

    #main-bio {
        width: 920px;
    }

    #bio-image {
        height: 5%;
    }

    .container {
        padding-right: 50%;
    }
}

@media (max-width: 411px) {

    header {
        width: 35%;
        
    }

    #header2 {
        width: 65%;
    }

    #container {
        width: 100%;
        float: center;
    }

    p {
        clear: both;
    }

    #bio-image {
        float: center;
        width: 80%;
    }
}


@media (max-width: 375px) {
    header {
        height: 110px;
        width:  35%;

    }


    #header2 {
        width: 65%;
        
        
    }

    h1 {
        font-size: 20px;
    }


    #contact-info {
        clear: both;
        width: 375px;
        margin-left: 5%;
        margin-bottom: 100px;

    }

    #main-bio {

        float: center;
        width: 95%;

    }

    #bio-image {
        float: center;
        width: 88%;
    }

    p {
        margin: 5%;
    }

    #divider {
        width: 88%;
    }

    .container {
        padding-right: 5%;
        padding-left: 8%;
    }
}

@media (max-width: 360px) {
    
    .container {
        padding-right: 5%;
        padding-left: 5%;
    }

    #header2 {
        
    }
}